<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outil de sélection d'essences</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Eczar' rel='stylesheet'>
    <link href="//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/881a787682b1823be7c0f75a607b17ab?family=DK+Crayon+Crumble" rel="stylesheet" type="text/css"/>
    <link href="https://fr.allfont.net/allfont.css?fonts=comic-sans-ms" rel="stylesheet" type="text/css" />
</head>

<header>
    <h1 id="titre_page">Outil de séléction d'essence</h1>
    <nav id="nav_pages">
        <a href="/">Accueil</a>
    </nav>
</header>
<section style = "margin-top: 10%; color:294F8D">
    La page que vous cherchez n'existe pas :'(
    <br>
    <span id="random_name" style = "color:294F8D"></span>
    <div id = "random_image" style="display: flex; justify-content: center">

    </div>
</section>

<script>
    var xhttp_random = new XMLHttpRequest();
  xhttp_random.open('GET', '/data/arbres/random');
  xhttp_random.setRequestHeader('Content-type', 'application/json');
  xhttp_random.send();

  xhttp_random.onload = function(){
    const data = JSON.parse(xhttp_random.responseText);
    document.getElementById('random_name').innerText = `Consolez-vous avec un ${data["Genre"]} ${data["Espèce"]}`
    console.log(data)
    let img = document.createElement('img')
    img.setAttribute('src', (data["Image Id"]!="")? `/image/${data["Photo"]}` : '/assets/arbre_template.png');
    img.setAttribute('style', 'object-fit: cover; object-position: center; width: 20vw; height: 20vw')
    img.classList.add('image-arbre')
    const image_div = document.getElementById('random_image')
    image_div.appendChild(img)
  }
</script>