<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outil de sélection d'essences</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Eczar' rel='stylesheet'>
    <link href="//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/881a787682b1823be7c0f75a607b17ab?family=DK+Crayon+Crumble" rel="stylesheet" type="text/css"/>
    <link href="https://fr.allfont.net/allfont.css?fonts=comic-sans-ms" rel="stylesheet" type="text/css" />
</head>

<header>
    <h1 id="titre_page">Outil de séléction d'essence</h1>
</header>
<section style = "margin-top: 20%">
    La page que vous cherchez n'existe pas
</section>