<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Outil de sélection d'essences</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href='https://fonts.googleapis.com/css?family=Eczar' rel='stylesheet'>
</head>

<header>
  <h1>Selection d'essence d'arbre</h1>
</header>

<div id="popin" class="modal" onclick="click_hors_popin()">
  <div class="modal-content" onclick="event.stopPropagation()">
    <img id="popin_photo" src="" alt="">
    <div class="popin_titres">
      <h1 id='popin_nom_francais'></h1>
      <h2 id='popin_nom_latin'></h2>
    </div>
    <p class=popin_titre_tableau>Informations importantes</p>
    <table id='popin_infos'>

    </table>
    <button id="popin_close" type="button" name="button" onclick="cacher_popin()">&times</button>
  </div>
</div>

<aside id='filtres'>
  <button type="button" id="plus_de_filtres" onclick="modifier_filtres()">Plus de filtres</button>
</aside>



<section id='arbres'>
  <nav id="bouton_pages">
    <button type="button" id="bouton_precedent" onclick="changer_page('precedent')">&#x2B05</button> 
    <p id=indice_page>Page <span id="page_actuelle"></span>/<span id="nombre_pages"></span></p>
    <button type="button" id="bouton_suivant" onclick="changer_page('suivant')">&#x27A1</button> 
  </nav>
</section>


<footer id="footer">
  <img src="/assets/logo_erasme_grandlyon.png" width="500" >
</footer>

<script src="assets/jquery/jquery.min.js"></script>

<script>
  var xhttp_filtres = new XMLHttpRequest();
  xhttp_filtres.open('GET', '/data/filtres');
  xhttp_filtres.setRequestHeader('Content-type', 'application/json');
  xhttp_filtres.send();

  xhttp_filtres.onload = function () {
      console.log(JSON.parse(xhttp_filtres.responseText));
      const data = tri(JSON.parse(xhttp_filtres.responseText));
      critere1 = data[0];
      for (let i = 0; i < data.length; i++) {
        const critere = data[i];
        if (critere.type_question == "Select") {
          filtre_select(critere);
        }
        else if (critere.type_question == "Checkbox") {
          filtre_checkbox(critere);
        }
      }
  }

  var xhttp_boutons = new XMLHttpRequest();
  xhttp_boutons.open('GET', '/data/arbres');
  xhttp_boutons.setRequestHeader('Content-type', 'application/json');
  xhttp_boutons.send();

  xhttp_boutons.onload = function () {
    const tous_les_arbres = JSON.parse(xhttp_boutons.responseText);
    const nb_pages = Math.ceil(tous_les_arbres.length/10);
    document.getElementById('nombre_pages').innerHTML = nb_pages;
  }




  var xhttp_arbres = new XMLHttpRequest();
  xhttp_arbres.open('GET', '/data/arbres?page=1');
  xhttp_arbres.setRequestHeader('Content-type', 'application/json');
  xhttp_arbres.send();

  xhttp_arbres.onload = function () {
    const arbres = JSON.parse(xhttp_arbres.responseText);
    update_affichage_arbres(arbres);
    document.getElementById('page_actuelle').innerHTML = 1;
  }


  function changer_page(sens) {
    var page_actuelle = document.getElementById('page_actuelle');
    var nombre_pages = document.getElementById('nombre_pages');
    if (sens=='suivant' && nombre_pages.innerHTML!=page_actuelle.innerHTML) {
      page_actuelle.innerHTML=parseInt(page_actuelle.innerHTML)+1;
    } else if(sens=='precedent' && page_actuelle.innerHTML!='1') { 
      page_actuelle.innerHTML=parseInt(page_actuelle.innerHTML)-1;
    }
    var xhttp_page_arbres = new XMLHttpRequest();
   
    xhttp_page_arbres.open('GET', '/data/arbres?page='+page_actuelle.innerHTML);
    xhttp_page_arbres.setRequestHeader('Content-type', 'application/json');
    xhttp_page_arbres.send();

    xhttp_page_arbres.onload = function () {
      const arbres = JSON.parse(xhttp_page_arbres.responseText);
      console.log(arbres);
      update_affichage_arbres(arbres);
    }

    
  }

  function update_affichage_arbres(arbres) {
    var div = document.getElementById('arbres');
    var cloneArbres = div.cloneNode(true);
    while (cloneArbres.children.length>1) {
      cloneArbres.removeChild(cloneArbres.children[1]);
    }
    for (let i = 0; i < arbres.length; i++) {
      const arbre = arbres[i];
      montrer_arbre(cloneArbres, arbre);
    }
    document.body.replaceChild(cloneArbres, div);
  }

  function filtre_select(critere) {
    var div = document.createElement('div');
    div.setAttribute('id', 'div '+critere.nom);
    div.classList.add('filtre');
    if (critere['importance'] != "Bloquant") {
      div.classList.add('pas_bloquant');
      div.style.display = 'none';
    }

    var label = document.createElement('label');
    label.setAttribute('for', critere.nom);
    label.innerHTML = critere.nom;
    div.appendChild(label);

    var select = document.createElement('select');
    select.setAttribute('name', critere.nom);
    select.setAttribute('id', critere.nom);
    select.addEventListener('change', update_resultats);

    var option = document.createElement('option');
    option.setAttribute('value','');
    option.innerHTML = "Choisissez une option";
    select.appendChild(option);

    for (let i = 0; i < critere.reponses.length; i++) {
      const reponse = critere.reponses[i];
      var option = document.createElement('option');
      option.setAttribute('value', reponse.valeur);
      option.innerHTML = reponse.texte;
      select.appendChild(option);
    }

    div.appendChild(select);

    var aside = document.getElementById('filtres');
    aside.appendChild(div);
  }


  function filtre_checkbox(critere) {
    var div = document.createElement('div');
    div.setAttribute('id', 'div '+critere.nom);
    div.classList.add('filtre');
    if (critere['importance'] != "Bloquant") {
      div.classList.add('pas_bloquant');
      div.style.display = 'none';
    }

    var p = document.createElement('p');
    p.innerHTML = critere.nom;
    div.appendChild(p);

    var div_checkbox = document.createElement('div');
    div_checkbox.setAttribute('id', 'div checkbox '+critere.nom);
    div_checkbox.classList.add('filtre_checkbox');

    for (let i = 0; i < critere.reponses.length; i++) {
      const reponse = critere.reponses[i];
      var input = document.createElement('input');
      input.setAttribute('type', "checkbox");
      input.setAttribute('id', reponse.texte);
      input.setAttribute('name', reponse.texte);
      input.setAttribute('value', reponse.valeur);
      input.addEventListener('change', update_resultats);

      var label = document.createElement('label');
      label.setAttribute('for', reponse.texte);
      label.innerHTML = reponse.texte;

      div_checkbox.appendChild(input);
      div_checkbox.appendChild(label);
    }

    div.appendChild(div_checkbox);

    var aside = document.getElementById('filtres');
    aside.appendChild(div);
  }

  function montrer_arbre(section, arbre) {
    const nom_latin = arbre['Genre'] + ' ' + arbre['Espèce'];
    var article = document.createElement('article');
    article.setAttribute('id', 'article '+nom_latin);
    article.addEventListener('mouseenter', montrer_mots_cles);
    article.addEventListener('mouseleave', cacher_mots_cles);
    article.addEventListener('click', afficher_popin);
    article.classList.add('info_arbre');

    var p = document.createElement('p');
    p.classList.add('mot-cle');
    p.style.visibility='hidden';
    p.innerHTML = mots_cles(arbre);
    article.appendChild(p);

    var div = document.createElement('div');
    div.classList.add('text-container');

    var p_latin = document.createElement('p');
    var p_francais = document.createElement('p');
    p_latin.classList.add('latin');
    p_francais.classList.add('francais');
    p_latin.innerHTML = nom_latin;
    p_francais.innerHTML = arbre['Nom commun'];
    div.appendChild(p_francais);
    div.appendChild(p_latin);

    article.appendChild(div);
    if (arbre["Image Id"]!=""){
      article.style.backgroundImage = 'url(https://drive.google.com/uc?export=view&id='+arbre["Image Id"]+')';
    }

    section.appendChild(article);
  }

  function modifier_filtres(){
    var filtres = document.getElementsByClassName('pas_bloquant');
    var ajouter = true;
    var button = document.getElementById('plus_de_filtres');
    if (button.innerHTML == 'Plus de filtres') {
      ajouter = false;
      button.innerHTML = 'Moins de filtres';
    }
    else{
      button.innerHTML = 'Plus de filtres';
    }
    for (var i = 0; i < filtres.length; i++) {
      if (ajouter == false) {
        filtres[i].style.display = '';
      }
      else{
        filtres[i].style.display = 'none';
      }
    }
  }

  function update_resultats(){
    var checkboxes = document.getElementsByTagName('input');
    var selects = document.getElementsByTagName('select');

    var json_filtres = {};
    for (var i = 0; i < checkboxes.length; i++) {
      json_filtres[checkboxes[i].name] = (checkboxes[i].checked)? true : false;
    }
    for (var i = 0; i < selects.length; i++) {
      json_filtres[selects[i].name] = selects[i].value;
    }

    var xhttp = new XMLHttpRequest();
    xhttp.open('POST', '/update_filtres');
    xhttp.setRequestHeader('Content-type', 'application/json');
    xhttp.send(JSON.stringify(json_filtres));

    xhttp.onload = function() {
      console.log(xhttp.responseText);
    }
  }

  function mots_cles(arbre){
    mots_clé=[];
    if (arbre['Disponibilité en pépinière']=="4"){
      mots_clé.push("rare");
    }
    if (arbre['Potentiel invasif']=="Fort"){
      mots_clé.push("invasif");
    }
    if (arbre['Impact sur la biodiversité']=="Négatif"){
      mots_clé.push("néfaste");
    }
    if (arbre['Pollen et potentiel allergisant']=="Fort"){
      mots_clé.push("allergène");
    }
    return(mots_clé.join(", "));
  }

  function montrer_mots_cles(event){
    event.currentTarget.children[0].style.visibility = 'visible';
  }

  function cacher_mots_cles(event){
    event.currentTarget.children[0].style.visibility = 'hidden';
  }

  function afficher_popin(event){
    var xhttp_popin = new XMLHttpRequest();
    xhttp_popin.open('GET', `/data/arbres?id=${event.currentTarget.id.slice(8)}`);
    xhttp_popin.setRequestHeader('Content-type', 'application/json');
    xhttp_popin.send()

    xhttp_popin.onload = function() {
      var popin = document.getElementById('popin');
      arbre_popin = JSON.parse(xhttp_popin.responseText)[0];
      console.log(arbre_popin);
      var popin_photo = document.getElementById('popin_photo');
      popin_photo.setAttribute("src", (arbre_popin["Image Id"]!='') ? 'https://drive.google.com/uc?export=view&id='+arbre_popin["Image Id"] : '/assets/arbre_template.png');

      var popin_nom_latin = document.getElementById('popin_nom_latin');
      popin_nom_latin.innerHTML= arbre_popin['Genre'] + ' ' + arbre_popin['Espèce'] ;

      var popin_nom_francais = document.getElementById('popin_nom_francais');
      popin_nom_francais.innerHTML= arbre_popin['Nom commun'];

      var tableau = document.getElementById('popin_infos');
      const colonnes = Object.keys(arbre_popin);
      while(tableau.children.length>0){
        tableau.removeChild(tableau.children[0]);
      }

      var xhttp_legende = new XMLHttpRequest();
      xhttp_legende.open('GET', `/data/legendes`);
      xhttp_legende.setRequestHeader('Content-type', 'application/json');
      xhttp_legende.send()

      xhttp_legende.onload = function() {
        console.log(JSON.parse(xhttp_legende.responseText));
        legendes = JSON.parse(xhttp_legende.responseText);
        for (var i = 0; i < colonnes.length; i++) {
          if (colonnes[i]!='Nom commun' && colonnes[i]!='Genre' && colonnes[i]!='Espèce' && colonnes[i]!='Image Id') {
            var tr = document.createElement('tr');
            var col1 = document.createElement('td');
            var col2 = document.createElement('td');
            col1.innerHTML = colonnes[i];
            col1.style.color = '#675F1E';
            /*col1.style.textShadow = "#FCE5D2 1px 1px 2px"; */
            col1.style.fontSize = '20px';
            col1.style.width = '47%';
            col1.style.borderRadius = '10px 0 0 10px';
            if (colonnes[i] == "Indice de potentiel d'adaptation") {
              var keys_adaptation = Object.keys(legendes[colonnes[i]]["values"]);
              correspondance_legende = arbre_popin[colonnes[i]].replace(',', '.');
              for (let j = 0; j < keys_adaptation.length; j++) {
                var condition = keys_adaptation[j].replace(',', '.');
                var boom = condition.split('<');
                if (parseFloat(boom[0])<=parseFloat(correspondance_legende) && parseFloat(correspondance_legende)<parseFloat(boom[2])) {
                  col2.innerHTML = legendes[colonnes[i]]["values"][keys_adaptation[j]];
                }
              }
            } else {
              correspondance_legende = arbre_popin[colonnes[i]];
              col2.innerHTML = (legendes[colonnes[i]]) ? legendes[colonnes[i]]["values"][correspondance_legende]: correspondance_legende;
            }
            col2.style.color = '#6B6B6B';
            col2.style.fontSize = '20px';
            col2.style.width = '53%';
            col2.style.textAlign = 'center';
            col2.style.borderRadius = '0 10px 10px 0';
            tr.appendChild(col1);
            tr.appendChild(col2);
            tableau.appendChild(tr);
          }
        }


        popin.style.visibility = 'visible';
        popin.style.opacity = "100%";
      }
    }


  }

  function cacher_popin(event){
    var popin = document.getElementById('popin');
    popin.style.visibility = 'hidden';
    popin.style.opacity = "0%";
  }

  function click_hors_popin(event) {
    cacher_popin(event)
  }



  function tri(liste_criteres) {
    liste_criteres_bloquant = []
    liste_criteres_important = []
    liste_criteres_peu_important = []
    liste_criteres_triee = []

    for (let i = 0; i < liste_criteres.length; i++) {
      critere = liste_criteres[i]
      if (critere.importance=="Bloquant"){
        liste_criteres_bloquant.push(critere)
      }
      else if (critere.importance=="Important"){
        liste_criteres_important.push(critere)
      }
      else if (critere.importance=="Peu important"){
        liste_criteres_peu_important.push(critere)
      }
    }
    liste_criteres_triee = liste_criteres_bloquant.concat(liste_criteres_important, liste_criteres_peu_important);
    console.log(liste_criteres_triee);
    return(liste_criteres_triee);
  }

</script>
